@import "tailwind";

html, body {
  @apply bg-gray-800;
}

body {
  width: 500px;
  max-width: 500px;
  height: 530px;
  max-height: 530px;

  @apply rounded-lg text-gray-200 border border-gray-700 pb-10;
}

.ocb-chrome {
  //max-height: 530px;
  //@apply overflow-y-auto;

  .clips {
    @apply overflow-y-auto;
    max-height: 350px;

    .clip {
      @apply cursor-pointer text-gray-400 text-sm bg-gray-900 p-2 rounded mx-3 mt-3;
      transition: .3s all;

      &:hover {
        color: #faebd7;

        .meta {
          @apply block
        }
      }

      .meta {
        @apply hidden;
      }
    }

    .refresh-btn {
      color: unset;
      @apply text-sm text-red-50;
    }
  }

  .ocb-chrome-login-form {
    @apply px-10;

    .control {
      @apply block;

      input {
        @apply bg-gray-900 rounded w-full;
        @apply focus:outline-none focus:ring-gray-500 focus:border-gray-500
      }
    }

    .field {
      @apply my-3;
    }
  }

  .write-textarea {
    @apply bg-gray-900 border-0 w-full rounded;
    @apply focus:outline-none focus:ring-gray-700 focus:border-gray-500
  }

  .ocb-chrome-toggle {
    @apply relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;

    .toggle {
      @apply inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200;
    }

    &.on {
      @apply bg-green-600;

      .toggle {
        @apply translate-x-5;
      }
    }

    &.off {
      @apply bg-gray-900;
      .toggle {
        @apply translate-x-0;
      }
    }
  }
}


.searchBar {
  @apply px-1 flex bg-gray-900 rounded  bg-gray-900;
  @apply border hover:border-green-500 hover:border-opacity-60 border-gray-700;

  input {
    color: antiquewhite;
    @apply text-sm w-full bg-transparent border-none p-2 focus:outline-none focus:ring-0;
  }

  button {
    @apply text-sm focus:outline-none focus:ring-0 text-sm  text-gray-500 hover:text-green-500;
  }
}