@import "tailwind";

html, body {
  @apply bg-gray-800;
}

body {
  width: 500px;
  max-width: 500px;
  height: 530px;
  max-height: 530px;

  @apply text-gray-200 border border-gray-700 pb-10;
}

.ocb-chrome {
  .clips {
    @apply overflow-y-auto;
    max-height: 350px;

    .clip {
      @apply cursor-pointer text-gray-400 text-sm bg-gray-900 p-2 rounded mx-3 mt-3;
      transition: .3s all;

      &:hover {
        color: #faebd7;

        .meta {
          @apply block
        }
      }

      .meta {
        @apply hidden;
      }
    }

    .refresh-btn {
      color: unset;
      @apply text-sm text-red-50;
    }
  }

  .ocb-chrome-login-form {
    @apply px-10;

    .control {
      @apply block;

      input {
        @apply bg-gray-900 rounded w-full;
        @apply focus:outline-none focus:ring-gray-500 focus:border-gray-500
      }
    }

    .field {
      @apply my-3;
    }
  }

  .write-textarea {
    @apply bg-gray-900 border-0 w-full rounded;
    @apply focus:outline-none focus:ring-gray-700 focus:border-gray-500
  }
}